background{
    background-color: white;
}
/* Геометрическая фигура, производим над ней преобразования */
div{
    width: 100px;
    height: 100px;
    position: relative;
    background: #3e92cc;
}
div::before{
    content: '';
    position: absolute;
    top: -25px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #3e92cc;
}
div::after{
    content: '';
    position: absolute;
    bottom: -25px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #3e92cc;
}
.skewed{   
    transition: transform 1s ease;
}
/* При наведении курсором на шестиугольник, наклон */
.skewed:hover{
    transform: skew(0deg, 30deg);
}
/* Текст к параграфу даты рождения */
.dateText{
    color: green;   
}
/* Текст к параграфу автобиографии */
.AutoBiography{
    color: green;
}
/* Ссылка на другие страницы от страницы ФИО */
.linkToNextPage{
    color: blue;
}
/* Описание хобби */
.descriptionHobby{
    color: green;
}
/* Ссылки на ресурсы */
.linkToResources{
    color: blue;
}
.IdeaAndTargetProject{
    color: green;
}
.otherText{
    color: black;
}