background{
    background-color: white;
}
.nameText{
    transform: skew(0deg, 15deg)
}
/* Текст к параграфу даты рождения */
.dateText{
    color: green;
    
}
/* Текст к параграфу автобиографии */
.AutoBiography{
    color: green;
}
/* Ссылка на другие страницы от страницы ФИО */
.linkToNextPage{
    color: blue;
}
/* Описание хобби */
.descriptionHobby{
    color: green;
}
/* Ссылки на ресурсы */
.linkToResources{
    color: blue;
}
.IdeaAndTargetProject{
    color: green;
}
.otherText{
    color: black;
}